.Navigation {
    height: 2em;
    background-color: #FFFFFF;
    color: #575857;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    margin: 2em;
    padding: 1em;
    border-bottom: #CECECE .3em solid;
}
.Navigation--links {
    display: inline;
}
.Navigation--links__item, a{
    display: inline;
    text-decoration: none;
    color: #575857;
    margin: 1.5em;
}

.Navigation--links__clickable--item {
  text-decoration: none;
}

.Navigation--links__clickable--item:hover{
    background-color: #CECECE;
}
.Navigation--icon {
    display: none;
}
@media screen and (max-width: 600px) {
    .Navigation {
        border: none;
        margin: 1em;
        padding: 0;
    }
    .Navigation--links, .Navigation--links__item {
        display: none;
    }
    .Navigation--links__clicked {
        display: inline;
    }
    .Navigation--links__item__clicked {
        display: block;
		float: right;
        clear: both;
        margin: 0;
        padding: 0.15em;
    }
    .Navigation--icon {
        height: 1em;
        display: block;
        float: right;
    }
}
